<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <%- post.content %>
  <!-- 
    <%= post.content %>
    如果要编译出html标签，将等号改为-即可
   -->
</body>
</html>